[Unit]
Description=Genki Snips Visual and Sonor feeback 
After=mosquitto@.service

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/opt/genki/bin/snips-feedback.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
