[Unit]
Description=Genki Kiosk
After=weston@.service

[Service]
Type=simple
User=linaro
WorkingDirectory=/home/linaro
ExecStart=/opt/genki/bin/genki-kiosk.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
