[Unit]
Description=Genki First Run 
After=weston@.service

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/opt/genki/bin/genki-firstrun.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
